<section id="#hero" class="flex items-center justify-between">
	<div class="space-y-6">
		<div>
			<h1 class="text-7xl">Get Ready<br /> to Ride</h1>
			<p>at Regal Equine Oasis, where passion meets elegance.</p>
		</div>
		<div class="space-x-3">
			<app-button text="Schedule a riding session" hierarchy="secondary"></app-button>
			<app-button href="#price-list" text="See price list &rarr;" hierarchy="tertiary"></app-button>
		</div>
	</div>
	<div class="flex gap-6">
		<div class="w-96 aspect-[3/4] bg-cover bg-right" style="background-image: url('coach.jpg');"></div>
		<div class="flex flex-col items-center justify-center gap-3">
			<div class="w-48 aspect-[3/4] bg-cover" style="background-image: url('coach2.jpg');"></div>
			<app-button href="#coaches" text="Our coaches &rarr;" hierarchy="tertiary"></app-button>
		</div>
	</div>
</section>