<nav>
	<ul class="flex items-center gap-6">
		<li class="font-medium hover:shadow-[0_-1px_inset]">
			<a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
		</li>
		<li class="font-medium hover:shadow-[0_-1px_inset]"><a href="#horses">Horses</a></li>
		<li class="font-medium hover:shadow-[0_-1px_inset]"><a href="#about">About us</a></li>
		<li class="font-medium hover:shadow-[0_-1px_inset]"><a href="#pricing">Pricing</a></li>
		<li><app-button routerLink="/login" text="Log in" hierarchy="primary"></app-button></li>
	</ul>
</nav>
