<style>
	swiper-container::part(bullet-active) {
		background-color: var(--color-accent);
	}

	swiper-container::part(button-prev),
	swiper-container::part(button-next) {
		color: var(--color-light);
	}
</style>

<section class="pt-12 pb-24">
	<h2 class="text-accent-light font-semibold uppercase text-center mb-12">&#8212; Our beauties &#8212;</h2>
	<swiper-container slides-per-view="3" space-between="48" navigation="true" pagination="true">
		<swiper-slide *ngFor="let horse of horses | async"><app-horse-card
				[horse]="horse"></app-horse-card></swiper-slide>
	</swiper-container>
</section>