<section id="about" class="flex justify-between gap-12 items-center">
	<div class="flex-1 flex gap-6">
		<div class="w-full bg-cover bg-center shadow-lg" style="background-image: url('about.jpg');"></div>
		<div class="w-96 flex flex-col gap-6">
			<div class="h-full aspect-square bg-cover bg-center shadow-lg" style="background-image: url('about2.jpg');">
			</div>
			<div class="aspect-square bg-cover shadow-lg" style="background-image: url('about3.jpg');"></div>
		</div>
	</div>
	<div class="w-5/12">
		<h2 class="text-4xl font-semibold mb-6">Bringing 16 Years of Expertise to Subotica's Equestrian Community</h2>
		<p class="mb-12">With over <strong>16 years of experience</strong>, our <strong>Subotica-based</strong> team has
			been committed to delivering
			excellence and innovation in
			everything we do. We pride ourselves on our deep local roots and the <strong>trust</strong> we've built with
			our clients over
			the years,
			driving <strong>success</strong> and fostering <strong>lasting relationships</strong>.
		</p>
		<app-button text="Become a member" hierarchy="secondary"></app-button>
	</div>
</section>