<section id="pony-rides" class="flex justify-between gap-12 items-center">
	<div class="flex-1 flex gap-6">
		<div class="w-full bg-cover bg-center shadow-lg" style="background-image: url('pony2.jpg');"></div>
		<div class="w-96 flex flex-col gap-6">
			<div class="h-full aspect-square bg-cover bg-center shadow-lg" style="background-image: url('pony.jpg');">
			</div>
			<div class="aspect-square bg-cover shadow-lg" style="background-image: url('pony3.jpg');"></div>
		</div>
	</div>
	<div class="w-5/12">
		<h2 class="text-4xl font-semibold mb-6">Pony Rides</h2>
		<p class="mb-12">Experience the joy of pony rides at our stables! Perfect for <strong>children</strong> and
			<strong>beginners</strong>, our gentle ponies are
			ready to take
			you on a fun and safe adventure. Enjoy a peaceful ride through our scenic trails, making memories that will
			last a lifetime!
		</p>
		<app-button text="Schedule a session" hierarchy="secondary"></app-button>
	</div>
</section>