<div class="w-full bg-light flex items-center gap-6 rounded-sm p-6 shadow-2xl">
	<div class="w-24 aspect-square overflow-hidden rounded-full">
		<img class="h-full w-full object-cover" src="coach2.jpg" alt="coach">
	</div>
	<div class="flex flex-col gap-3">
		<div class="flex flex-col">
			<span class="text-2xl font-semibold text-nowrap">{{coach.name}} {{coach.surname}}</span>
			<span class="text-accent uppercase text-xs font-medium text-nowrap">&#8212; {{coach.yearsOfExperience}}
				years of experience</span>
		</div>
	</div>
</div>