<footer class="flex flex-col gap-8 mb-6">
	<div class="flex justify-between items-center">
		<div class="flex flex-col">
			<span class="text-accent uppercase font-medium">Regal Equine Oasis</span>
			<span class="text-2xl font-semibold">Contact us by +381601237896</span>
			<span class="text-2xl font-semibold">Visit us at Subotica</span>
		</div>
		<app-button text="Schedule a session &rarr;" hierarchy="tertiary"></app-button>
	</div>
	<div class="flex flex-col text-center text-sm">
		<span>&copy; 2024 <a href="https://github.com/MarinaBajic">Marina Bajic</a></span>
	</div>
</footer>